@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html ng-app="sample">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body ng-controller="shopController">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Shop","Index","Shop")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                My Cart <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="product in cart">
                                    {{product.Name}}
                                </li>
                            </ul>
                        </li>
                        <li><button class="btn btn-primary" ng-click="proceed()">Go to summary</button></li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
<script src="~/Scripts/angular.js"></script>
<script>
    var app = angular.module("sample", []);

    app.controller("shopController", function ($scope, $http,$location) {
        $scope.products = null;
        $scope.loading = false;

        $scope.cart = [];

        $scope.initialize = function () {
            $scope.loading = true;
            $http.get("/Shop/GetProducts").success(function (data) {
                console.log("loading.....");
                $scope.products = data;
                $scope.loading = false;
            });
        }
        $scope.add = function(product) {
            $scope.cart.push(product);
        }
        
        $scope.proceed = function() {
            var x = '@User.Identity.GetUserId()';
            window.location.assign("/Shop/Procced/" + x);
            console.log(x);
        }

        $scope.initialize();
    });
</script>
</body>
</html>
